{% extends 'bootstrap.html' %}
{% load bootstrap3 %}
{% load static %}
{% block bootstrap3_content %}

    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img  src="{% static 'img/light.jpg' %}" height="50px" align="bottom"><a class="navbar-brand" href="{% url 'home' %}">Simulador de Processos</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url "home" %}">Início</a></li>
{#                        <li><a href="{% url "about" %}">Sobre o Simulador</a></li>#}
{#                        <li><a href="{% url "contact" %}">Fale Conosco</a></li>#}

                    </ul>
                </div>
                <!--/.nav-collapse -->
{#                <ul class="nav nav-pills">#}
{#                    <li id="painel" class="active"><a href="{% url 'home' %}">Painel de Controle</a></li>#}
{#                </ul>#}
                <script type="application/javascript">
                   // $('ul.nav.nav-pills li a').click(function () {
                     //   $(this).parent().addClass('active').siblings().removeClass('active');
                   // });
                </script>
            </div>
        </div>

        <!-- Begin page content -->

        <div class="container">

            <div class="page-header">
            <br>
                <h1>{% block title %}(no title){% endblock %}</h1>
            </div>
            {% bootstrap_messages %}
            {% block content %}
                <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this
                    custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top:
                        60px;</code> on the <code>.container</code>.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
